.sidebar{
    background-color: #008B8B;
    width: 20%; 
    vertical-align: top;
    display: inline-block;
    text-align: center;

}            
.link-list{
    padding: 0px;
    
}
.sidebar ul li a{
    color: white;
    text-decoration: none;
}
.sidebar ul li{
    padding: 20px;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid white;                
}
.sidebar ul li:hover {
    background-color: #16a085;
}

.head-main{
    background-color: white;
    width: 75%; 
    margin: 0px 0px 0px 40px;
    vertical-align:top;
    display: inline-block;
    padding: 15px;  
    box-sizing: border-box;
    border-width: 2px;
    border-style: dashed;
    border-color: #008B8B;
    border-radius: 10px;
}
.profile-picture{
    margin-top: 15px;
    width: 220px;
    border-radius: 110px;

}
p{
    font-size: 20px;
    color: black;
    font-family: cursive;
    text-align: justify;
}
h2{
    color: #008B8B;
    margin-bottom: 0px;
}
.imagem-post{
    width: 300px;
    display: inline-block;
    margin-top: 20px;
}
.conteudo-post{
     display: inline-block;
     padding-left: 15px;
     width: 60%;
     vertical-align: top;
}
.primeira-letra{
    font-size: 30px;
}